.logo{
    display: flex;
    flex-direction: row;
    position: relative;
    top: -70px;
    left: 5             0px;
}


.LC1{
    color:rgb(142, 7, 192);
    font-family: "Nova Round", serif;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
}
.LC2{
    position: relative;
    left: -10px;
    color:rgb(83, 83, 83);
    font-family: "Nova Round", serif;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
}
    .LC3{
    position: relative;
    left: -30px;
    color:rgb(83, 83, 83);
    font-family: "Nova Round", serif;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
}
