.Mtop1{
    width: 800px;
    display: flex;
    flex-direction: row;
    z-index: 100;

}
.Top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Roboto;
    font-size: large;
    
}
.toptext{
    text-align: center;
    /* align-items: center;
    justify-content: center; */
    font-weight: bold;
    color: rgb(83,83,83);
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
    /* justify-content:space-around; */
    /* flex-direction: row; */
    position: relative;
    top: 30px;
    height: 60px;
    /* padding-top: z30px; */
    padding-left: 10px;

}
.letstalk{
    position: relative;
    top: 40px;
    left: 500px;
    height: 40px;
    width: 150px;
    border: none;
    background-color: rgb(142, 7, 192);
    color: aliceblue;
    font-family: roboto;
    font-weight: bold;
    font-size: 18px;
    border-radius: 12px;
}
.text{
    width: 500PX;
   position: relative;
   left: 150px;
}
.backPng{
    background-image: url(images/myPng.png);
    width: 600px;
    height: 650px;
    z-index: 0;
    position: relative;
    left: 700px;
    top: -500px;
    size: 1200px;
    background-repeat: no-repeat;
    background-size: 100%;
}
@media (max-width: 1080px) {
    body {
        font-size: 14px;
        background-color: #d0f0d0;
        
    }
.backPng{
    opacity: 0;
    width: 0;
}
.B23 {
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content: center;
    justify-self: center;
    align-items: center;
    height: 150px;
    justify-content: space-between;
    position: relative;
    /* left: 170px; */
    left: 230px;



}
.Hireme::after{
        font-size: 40px;

}
.seeproject::after{
        font-size: 40px;

}
.Hireme,.seeproject{
    height: 150px;
    width: 320px;
    font-size: 40px;
}
.letstalk{
    position: relative;
    left: -20px;
}

.text{
    width: 1080PX;
    height: 720px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    position: relative;
    
}

.T1 {
    font-family: Bowlby One;
    font-size: 90px;
    color: rgb(142, 7, 192);
    position: relative;
    left: -20px;
    
}

.T2 {
    position: relative;
    top: -160px;
    font-family: Roboto;
    font-size: 55px;
    color: rgb(83, 83, 83);
    font-weight: 900;
    padding-bottom: 0px;
    position: relative;
    left: -30px;
}

.T12 {
    color: rgb(83, 83, 83);
    position: relative;
    left: -20px;
    position: relative;
    left: -20px;
}

.T3 {
    font-family: Roboto;
    font-size: 35px;
    color: rgb(83, 83, 83);
    font-weight: bold;
    padding-top: 0px;
    margin-top: 0px;
    position: relative;
    top: -150px;
    left: -30px;
}
}
.footer{
    width: 100%;
    background-color: black;
    height: 2px;
}