.IGpng{
    width: 40px;

}

.top{
    /* background-color: red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}
.about{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.ig-info{
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Bebas Neue;
    color: black;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 20px;
}
.ig-username{
position: relative;
left: -50px;
font-weight: bold;
letter-spacing: 2px;

}

.ig-about{
    /* background-color: black; */
    width: 100%;
    height: 100%;
    color:gray;
    font-family: Signika Negative ;
    font-size: 12px;
    position: relative;
    top: -30px;
}

.Photo1{
    /* background-color: purple; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background{
    width: 160px;
    height: 90px;
    z-index: 0;
    background-color: red;
    position: relative;
    left: 50px;
    top: -20px;
}
.ph1{
z-index: 1;
position: relative;
/* left: -150px; */
box-shadow: 10px -10px 0px rgb(167, 132, 132);
object-fit: cover;
}

.Bottom{
    /* background-color: green; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}
.about-bottom{
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr 1fr;
}
.ig-info{
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Bebas Neue;
    color: black;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 20px;
}
.ig-username{
    position: relative;
    left: -50px;
    font-weight: bold;
    letter-spacing: 2px;
    
}

.ig-about-2{
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color:gray;
    font-family: Signika Negative ;
    font-size: 12px;
    position: relative;
    top: 60px;
   left: 20px;
}
.Photo2{
    /* background-color: purple; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.background{
    width: 160px;
    height: 90px;
    z-index: 0;
    background-color: red;
    position: relative;
    left: 50px;
    top: -20px;
}
.ph2{
    width: 200px;
    height: 250px;
    z-index: 1;
    position: relative;
    /* left: -150px; */
    box-shadow: -10px 10px 0px rgb(167, 132, 132);
    object-fit: cover;
}

.go-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.profile-button{
    background-color: rgb(167, 132, 132);
    border: none;
    height: 36px;
    width: 120px;
    color: white;
    font-family: roboto;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 6px;
    position: relative;
    top: -50PX;
}
.profile-button:hover{
    background-color: rgb(121, 96, 96);
    cursor: pointer;
}
